body {
  font-family: "calibri";
  background: #dcdcdc;
  width: 100%;
  margin: 0;
  color: #333;
  min-width: 1200px;
}
h1,
h3 {
  text-align: center;
  color: #787878;
}
a {
  text-decoration: none;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: none;
  text-rendering: optimizeLegibility;
}
.logo img {
  height: 40px;
  float: left;
  margin-top: 30px;
  margin-right: 350px;
  padding-left: 100px;
}
.nav {
  font-family: 'Avenir Next';
  font-size: 14px;
  padding-top: 44px;
  color: #7e8182;
}
.nav a {
  padding-right: 35px;
  color: #7e8182;
}
.nav a.rounded {
  border: 2px solid #59cee7;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #59cee7;
}
