/* Header */
@font-face {
  font-family: "Telegrafico";
  src: url(../telegrafico.ttf) format("truetype");
}

.large-header {
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	height:200px;
}

.button
{
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #0C5;

  font-size: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  
  margin: 5em auto;
  
  position: absolute; 
  top:0; right:0; bottom:0; left:0;
  width: 150px;
  height:30px;

  padding-top:8px;

  background: #FF6600;
  border: 1px solid #FF6600;
  color: #FFF;
  overflow: hidden;
  
}

.button:hover, .button:active 
{
  text-decoration: none;
  color: #FF6600;
  border-color: #fff;
  background: #FFF;
}

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
}

.button:hover span, .button:active span 
{
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #0C5;
  right: 0;
  top: 50%;
}

.demo-1 .large-header {
	background-image: url('../img/demo3.jpg');
}

.demo-2 .large-header {
	background-image: url('../img/demo-2-bg.jpg');
	background-position: center bottom;
}

.demo-3 .large-header {
	background: #7f8c8d;
}

.demo-4 .large-header {
	background: #f9f1e9;
}

.main-title {
	position: absolute;
	margin: 0;
	font-family:Telegrafico;
	padding: 0;
	color: #ffffff;
	text-align: center;
	top: 30%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.press{
	opacity:.8
}
.press:hover{
	opacity:1;
}

.main-title-two {
	position: absolute;
	font-family:Helvetica;
	padding: 0;
	font-size:1em;
	color: #EEEEEE;
	text-align: center;
	top:40%;
	left:50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.press-banner{
	position: absolute;
	font-family:Helvetica;
	padding: 0;
	font-size:1em;
	color: #EEEEEE;
	text-align: center;
	top:83%;
	left:50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.main-title-three {
	position: absolute;
	font-family:Helvetica;
	font-size:.8em;
	padding: 0;
	margin-top:20px;
	color: #fff;
	text-align: center;
	top:48%;
	left:50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title, 
.demo-3 .main-title {
	text-transform: uppercase;
	font-size: 3em;
	letter-spacing: 0.1em;
}

.demo-2 .main-title {
	font-family: 'Clicker Script', cursive;
	font-weight: normal;
	font-size: 8em;
	padding-left: 10px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.demo-2 .main-title::before {
	content: '';
	width: 20vw;
	height: 20vw;
	min-width: 3.5em;
	min-height: 3.5em;
	background: url(../img/deco.svg) no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	z-index: -1;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-3 .main-title {
	padding: 10px 40px;
	border: 10px double #f9f1e9;
	text-transform: uppercase;
	font-family: Londrina Outline, sans-serif;
}

.demo-4 .main-title {
	font-size: 6em;
	font-weight: 300;
	padding: 10px 30px;
	text-transform: uppercase;
	color: #222;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}